WinBoutique/Connected Services/MetiersBoutique/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55160/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierBoutique" />
  <xs:import schemaLocation="http://localhost:55160/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierBoutique" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierBoutique" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeCategorie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getListeCategorieResult" nillable="true" type="q3:ArrayOfCategorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategorieById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategorieByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getCategorieByIdResult" nillable="true" type="q4:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="categorie" nillable="true" type="q5:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCategorieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="categorie" nillable="true" type="q6:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCategorieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCategorieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getListeProduitsResult" nillable="true" type="q7:ArrayOfProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduitsByAttribut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="listeprod" nillable="true" type="q8:ArrayOfProduit" />
        <xs:element minOccurs="0" name="attribut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduitsByAttributResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getListeProduitsByAttributResult" nillable="true" type="q9:ArrayOfProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduitsByAttributInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="listeprod" nillable="true" type="q10:ArrayOfProduit" />
        <xs:element minOccurs="0" name="attribut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="val" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduitsByAttributIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getListeProduitsByAttributIntResult" nillable="true" type="q11:ArrayOfProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="produit" nillable="true" type="q12:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="produit" nillable="true" type="q13:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduitById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduitByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getProduitByIdResult" nillable="true" type="q14:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetierBoutique.Model" minOccurs="0" name="getCategorieResult" nillable="true" type="q15:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>